<!-- {% if user.is_authenticated %} -->
<!DOCTYPE html>
<html>
    <head>
<style>
.table, th, td{
    border: 1px solid black;
}

.th, td{
    padding: 10px;
}

</style>
</head>
<body>
<h1>AtmaNirbhar Company Payroll
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'logout' %}">Logout</a>
</h1> 



<table>
    <caption><b>PAYROLL CHART</b></caption>
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Payroll Month</th>
        <th>Working Hours</th>
        <th>Hourly Rate</th>
        <th>Allowance</th>
        <th>Deductions</th>
        <th>Net Pay</th>
    </tr>
    {% for x in employee_list %}
    <tr>
        
        <td>
            <a href = "{% url 'editemployee' %}?employee_id={{x.employee_id.employee_id}}">
            <p>{{x.employee_id.employee_id}}</p>
        </a>
        </td>
        <td>
            <p>{{x.employee_id.employee_name}}</p>
        </td>
        <td>
            <p>{{x.payroll_month | date:"M-Y"}} </p>
        </td>
        <td>
            <p>{{x.employee_id.working_hours}}</p>
        </td>
        <td>
            <p>{{x.employee_id.hourly_rate}}</p>
        </td>
        <td>
            <p>{{x.allowance}}</p>
        </td>
        <td>
            <p>{{x.deductions}}</p>
        </td>
        <td>
            <p>{{x.total_salary}}</p>
        </td>
        {% if user.is_superuser %}
        <td>
            <a href = "{% url 'deleteemployee' %}?employee_id={{x.employee_id.employee_id}}">Remove</a>
        </td>
        {% endif %}
       
    </tr>
    {% endfor%}
</table>
<br>
{% if user.is_superuser %}
<a href="{% url 'addemployee' %}"><em>Add New Employee</em></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'downloadreport' %}"><em>Download Report As Xls</em></a><br><br>
<br><br>
{% endif %}

<!-- {% else %}
<h1>Please <a href ="{% url 'login' %}">login</a> before accessing this page.</h1>


{% endif %} -->
</body>
</html>